{% extends 'base.html' %} {% block body %}
<div class="container">
    <div data-bss-parallax-bg="true" style="
          height: 500px;
          background: url( {{ url_for( 'static', filename='img/airport1.jpg' ) }}) center / cover;
          ">
        <section class="newsletter-subscribe" style="background: rgba(255, 255, 255, 0); height: 100%">
            <div class="
          container
          d-flex
          flex-column
          justify-content-evenly
          align-content-center align-items-lg-center
        " style="height: 100%">
                <div class="intro">
                    <h2 class="text-center text-dark">Start your adventure today!</h2>
                    <p class="text-center text-dark">
                        Connecting to all the major airpors.
                    </p>
                </div>
                <form class="d-flex justify-content-center flex-wrap" method="post">
                    <div class="mb-3">
                        <input class="form-control" type="text" id="destinations-searchbox" list="datalistOptions" /><datalist id="datalistOptions">
              <option value="San Francisco"></option>
              <option value="New York"></option>
              <option value="Seattle"></option>
              <option value="Los Angeles"></option>
              <option value="Chicago"></option>
            </datalist>
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-primary" role="button" id="search-destination" href="Schedule.html">TRAVEL</a
            >
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <section class="article-list">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Travel in Comfort</h2>
        <p class="text-center">Equipped with best in class facilities.</p>
      </div>
      <div class="row articles">
        <div class="col-sm-6 col-md-4 item">
          <a href="#"
            ><img
              class="img-fluid"
              src="{{ url_for('static',filename='img/airport-kiosk.jpg') }}"
          /></a>
                        <h3 class="name">Automatic Kiosk</h3>
                        <p class="description">
                            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                        </p>
                        <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i
          ></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item">
                        <a href="#"><img class="img-fluid" src="{{ url_for('static',filename='img/airport-wifi.webp') }}" /></a>
                        <h3 class="name">Best Connectivity</h3>
                        <p class="description">
                            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                        </p>
                        <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i
          ></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item">
                        <a href="#"><img class="img-fluid" src="{{ url_for('static',filename='img/airport-lounge.webp') }}" /></a>
                        <h3 class="name">Article Title</h3>
                        <p class="description">
                            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.
                        </p>
                        <a class="action" href="#"><i class="fa fa-arrow-circle-right"></i
          ></a>
                    </div>
            </div>
    </div>
    </section>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}